dashboard_frontend/flows.json
[
    {
        "id": "3bb1fc53f5e74346",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "da75828996f98e22",
        "type": "ui_chart",
        "z": "3bb1fc53f5e74346",
        "name": "Temperature Trend",
        "group": "9067b8ee8e786248",
        "order": 3,
        "width": "12",
        "height": "8",
        "label": "Temperature History",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "25",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ef4444",
            "#f97316",
            "#f8a10d",
            "#a21111",
            "#c55f16",
            "#af7612",
            "#7a3333",
            "#8c4b1d",
            "#8a682e"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1810,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "26b7e70b991c905c",
        "type": "function",
        "z": "3bb1fc53f5e74346",
        "name": "Temp Extract",
        "func": "var val = msg.payload.temp;\nvar current_room = msg.payload.room;\nvar last_room = context.get(\"last_room\");\nvar current_time = new Date().getTime();\n\n// If room changed, send CLEAR command first\nif (last_room && last_room !== current_room) {\n    context.set(\"last_room\", current_room);\n\n    // Message 1: Clear the chart\n    var clear_msg = { payload: [], topic: \"Temperature\" };\n\n    // Message 2: Send the new data point\n    var new_data_msg = {\n        payload: val,\n        topic: \"Temperature\",\n        timestamp: current_time\n    };\n\n    // Return both messages in order\n    return [[clear_msg, new_data_msg]];\n}\n\n// Normal operation (same room)\ncontext.set(\"last_room\", current_room);\nmsg.payload = val;\nmsg.timestamp = current_time;\nmsg.topic = \"Temperature\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 480,
        "wires": [
            [
                "da75828996f98e22"
            ]
        ]
    },
    {
        "id": "6914c38163c80bf0",
        "type": "ui_template",
        "z": "3bb1fc53f5e74346",
        "group": "4fba22e4d226f107",
        "name": "CSS",
        "order": 4,
        "width": "0",
        "height": "0",
        "format": "<style>\n    @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');\n\n    /* --- 1. MAIN CARD STYLE (Tightened) --- */\n    .sensor-card {\n        background: rgba(15, 23, 42, 0.85);\n        backdrop-filter: blur(20px);\n        border-radius: 24px;\n        border: 1px solid rgba(6, 182, 212, 0.3);\n        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);\n        padding: 25px;\n        /* Slightly reduced padding */\n        width: 100%;\n        max-width: 750px;\n        /* CHANGED: Was 900px. This pulls the right side in! */\n        min-height: 480px;\n        box-sizing: border-box;\n        margin: 0 auto;\n        display: flex;\n        flex-direction: column;\n        position: relative;\n        overflow: hidden;\n    }\n\n    /* Top Glow Bar */\n    .sensor-card::before {\n        content: '';\n        position: absolute;\n        top: 0;\n        left: 0;\n        right: 0;\n        height: 3px;\n        background: linear-gradient(90deg, transparent, #06b6d4, transparent);\n    }\n\n    /* --- 2. HEADER --- */\n    .room-header {\n        display: flex;\n        justify-content: space-between;\n        align-items: center;\n        margin-bottom: 20px;\n        padding-bottom: 15px;\n        border-bottom: 1px solid rgba(148, 163, 184, 0.1);\n    }\n\n    .room-name {\n        font-size: 28px;\n        /* Slightly smaller for compactness */\n        font-weight: 800;\n        color: #fff;\n        letter-spacing: 1px;\n        margin: 0;\n    }\n\n    .room-sub {\n        font-size: 11px;\n        color: #06b6d4;\n        text-transform: uppercase;\n        letter-spacing: 2px;\n        margin-top: 4px;\n    }\n\n    /* --- THE DYNAMIC BADGE --- */\n    .status-badge {\n        padding: 6px 16px;\n        border-radius: 20px;\n        font-size: 11px;\n        font-weight: 800;\n        text-transform: uppercase;\n        letter-spacing: 1.5px;\n        display: flex;\n        align-items: center;\n        gap: 8px;\n        transition: all 0.5s ease;\n    }\n\n    .badge-green {\n        background: rgba(34, 197, 94, 0.15);\n        color: #4ade80;\n        border: 1px solid #22c55e;\n        box-shadow: 0 0 12px rgba(34, 197, 94, 0.4);\n    }\n\n    .badge-green .status-dot {\n        background-color: #4ade80;\n        animation: blink 2s infinite;\n    }\n\n    .badge-red {\n        background: rgba(248, 113, 113, 0.15);\n        color: #f87171;\n        border: 1px solid #ef4444;\n        box-shadow: 0 0 12px rgba(248, 113, 113, 0.4);\n    }\n\n    .badge-red .status-dot {\n        background-color: #f87171;\n        box-shadow: none;\n    }\n\n    .status-dot {\n        width: 8px;\n        height: 8px;\n        border-radius: 50%;\n    }\n\n    @keyframes blink {\n        0% {\n            opacity: 1;\n            box-shadow: 0 0 5px currentColor;\n        }\n\n        50% {\n            opacity: 0.4;\n            box-shadow: none;\n        }\n\n        100% {\n            opacity: 1;\n            box-shadow: 0 0 5px currentColor;\n        }\n    }\n\n    /* --- 3. LAYOUT & TILES --- */\n    .dashboard-split {\n        display: flex;\n        flex: 1;\n        gap: 20px;\n        /* Reduced gap to bring boxes closer to donuts */\n    }\n\n    .left-panel {\n        flex: 0 0 240px;\n        /* Made slightly narrower */\n        display: flex;\n        flex-direction: column;\n        justify-content: center;\n        align-items: center;\n        gap: 25px;\n        border-right: 1px solid rgba(255, 255, 255, 0.05);\n        padding-right: 20px;\n    }\n\n    .circular-metric {\n        position: relative;\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n    }\n\n    .circle-bg {\n        fill: none;\n        stroke: rgba(255, 255, 255, 0.05);\n        stroke-width: 10;\n    }\n\n    .circle-progress {\n        fill: none;\n        stroke-width: 10;\n        stroke-linecap: round;\n        transform: rotate(-90deg);\n        transform-origin: 50% 50%;\n        transition: stroke-dashoffset 1s ease;\n    }\n\n    .circle-inner-text {\n        position: absolute;\n        top: 50%;\n        left: 50%;\n        transform: translate(-50%, -50%);\n        text-align: center;\n        pointer-events: none;\n    }\n\n    .val-text {\n        font-size: 24px;\n        font-weight: 700;\n        color: white;\n        line-height: 1;\n    }\n\n    .unit-text {\n        font-size: 10px;\n        color: #94a3b8;\n        text-transform: uppercase;\n        margin-top: 4px;\n    }\n\n    .donut-label {\n        margin-top: 8px;\n        color: #06b6d4;\n        font-size: 11px;\n        letter-spacing: 1px;\n        text-transform: uppercase;\n        font-weight: 600;\n    }\n\n    .right-panel {\n        flex: 1;\n        display: grid;\n        grid-template-columns: 1fr 1fr;\n        grid-template-rows: 1fr 1fr;\n        gap: 15px;\n        /* Tighter gap between boxes */\n        padding-left: 10px;\n        /* Reduced padding */\n    }\n\n    .data-tile {\n        background: rgba(255, 255, 255, 0.03);\n        border: 1px solid rgba(255, 255, 255, 0.05);\n        border-radius: 14px;\n        display: flex;\n        flex-direction: column;\n        justify-content: center;\n        align-items: center;\n        padding: 15px;\n        transition: all 0.3s ease;\n        min-height: 120px;\n    }\n\n    .data-tile.active-sensor:hover {\n        background: rgba(255, 255, 255, 0.08);\n        border-color: rgba(6, 182, 212, 0.4);\n        transform: translateY(-3px);\n    }\n\n    .data-tile.disabled-sensor {\n        opacity: 0.4;\n        border-style: dashed;\n    }\n\n    .tile-icon {\n        font-size: 24px;\n        margin-bottom: 10px;\n        color: #94a3b8;\n    }\n\n    .tile-val {\n        font-size: 28px;\n        font-weight: 700;\n        color: #fff;\n        line-height: 1;\n    }\n\n    .tile-label {\n        font-size: 9px;\n        color: #64748b;\n        text-transform: uppercase;\n        margin-top: 6px;\n        letter-spacing: 1px;\n    }\n\n    .tile-accent-yellow {\n        color: #facc15;\n    }\n\n    .tile-accent-purple {\n        color: #c084fc;\n    }\n\n    .tile-accent-blue {\n        color: #60a5fa;\n    }\n\n    .tile-accent-red {\n        color: #f87171;\n    }\n</style>\n\n<div class=\"sensor-card\">\n    <div class=\"room-header\">\n        <div>\n            <h2 class=\"room-name\">{{msg.payload.room}}</h2>\n            <div class=\"room-sub\">Live Monitor</div>\n        </div>\n\n        <div class=\"status-badge\" ng-class=\"{\n                'badge-green': (!msg.payload.status || msg.payload.status === 'Active' || msg.payload.status === 'ACTIVE'),\n                'badge-red': (msg.payload.status === 'idle' || msg.payload.status === 'Idle')\n             }\">\n            <div class=\"status-dot\"></div>\n            {{msg.payload.status || 'ACTIVE'}}\n        </div>\n    </div>\n\n    <div class=\"dashboard-split\">\n        <div class=\"left-panel\">\n            <div class=\"circular-metric\">\n                <svg width=\"120\" height=\"120\">\n                    <circle class=\"circle-bg\" cx=\"60\" cy=\"60\" r=\"50\"></circle>\n                    <defs>\n                        <linearGradient id=\"gradTemp\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"0%\">\n                            <stop offset=\"0%\" style=\"stop-color:#f87171;stop-opacity:1\" />\n                            <stop offset=\"100%\" style=\"stop-color:#fb923c;stop-opacity:1\" />\n                        </linearGradient>\n                    </defs>\n                    <circle class=\"circle-progress\" cx=\"60\" cy=\"60\" r=\"50\"\n                        ng-style=\"{'stroke': 'url(#gradTemp)', 'stroke-dasharray': 314, 'stroke-dashoffset': 314 - (314 * msg.payload.temp / 50)}\">\n                    </circle>\n                </svg>\n                <div class=\"circle-inner-text\">\n                    <div class=\"val-text\">{{msg.payload.temp}}°</div>\n                    <div class=\"unit-text\">Celsius</div>\n                </div>\n                <div class=\"donut-label\">Temperature</div>\n            </div>\n            <div class=\"circular-metric\">\n                <svg width=\"120\" height=\"120\">\n                    <circle class=\"circle-bg\" cx=\"60\" cy=\"60\" r=\"50\"></circle>\n                    <defs>\n                        <linearGradient id=\"gradHum\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"0%\">\n                            <stop offset=\"0%\" style=\"stop-color:#22d3ee;stop-opacity:1\" />\n                            <stop offset=\"100%\" style=\"stop-color:#3b82f6;stop-opacity:1\" />\n                        </linearGradient>\n                    </defs>\n                    <circle class=\"circle-progress\" cx=\"60\" cy=\"60\" r=\"50\"\n                        ng-style=\"{'stroke': 'url(#gradHum)', 'stroke-dasharray': 314, 'stroke-dashoffset': 314 - (314 * msg.payload.humidity / 100)}\">\n                    </circle>\n                </svg>\n                <div class=\"circle-inner-text\">\n                    <div class=\"val-text\">{{msg.payload.humidity}}%</div>\n                    <div class=\"unit-text\">RH</div>\n                </div>\n                <div class=\"donut-label\">Humidity</div>\n            </div>\n        </div>\n\n        <div class=\"right-panel\">\n            <div class=\"data-tile\"\n                ng-class=\"{'active-sensor': msg.payload.temp !== undefined, 'disabled-sensor': msg.payload.temp === undefined}\">\n                <i class=\"fas fa-temperature-half tile-icon\" ng-class=\"{'tile-accent-yellow': msg.payload.temp !== undefined}\"></i>\n                <div class=\"tile-val\" ng-if=\"msg.payload.temp !== undefined\">{{msg.payload.temp}}°</div>\n                <div class=\"tile-val\" ng-if=\"msg.payload.temp === undefined\" style=\"font-size: 20px; opacity: 0.7;\">N/A\n                </div>\n                <div class=\"tile-label\">Temperature</div>\n            </div>\n\n            <div class=\"data-tile\"\n                ng-class=\"{'active-sensor': msg.payload.humidity !== undefined, 'disabled-sensor': msg.payload.humidity === undefined}\">\n                <i class=\"fas fa-droplet tile-icon\" ng-class=\"{'tile-accent-purple': msg.payload.humidity !== undefined}\"></i>\n                <div class=\"tile-val\" ng-if=\"msg.payload.humidity !== undefined\">{{msg.payload.humidity}}%</div>\n                <div class=\"tile-val\" ng-if=\"msg.payload.humidity === undefined\" style=\"font-size: 20px; opacity: 0.7;\">\n                    N/A</div>\n                <div class=\"tile-label\">Humidity</div>\n            </div>\n\n            <div class=\"data-tile active-sensor\">\n                <i class=\"fas fa-users tile-icon tile-accent-blue\"></i>\n                <div class=\"tile-val\">{{msg.payload.occupancy}}</div>\n                <div class=\"tile-label\">Occupancy</div>\n            </div>\n\n            <div class=\"data-tile\"\n                ng-class=\"{'active-sensor': msg.payload.co2 !== undefined, 'disabled-sensor': msg.payload.co2 === undefined}\">\n                <i class=\"fas fa-wind tile-icon\" ng-class=\"{'tile-accent-red': msg.payload.co2 !== undefined}\"></i>\n                <div class=\"tile-val\" ng-if=\"msg.payload.co2 !== undefined\">{{msg.payload.co2}}</div>\n                <div class=\"tile-val\" ng-if=\"msg.payload.co2 === undefined\" style=\"font-size: 20px; opacity: 0.7;\">N/A\n                </div>\n                <div class=\"tile-label\">CO2 (ppm)</div>\n            </div>\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1750,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "db0690e7110a8d2f",
        "type": "ui_dropdown",
        "z": "3bb1fc53f5e74346",
        "name": "",
        "label": "Select Room",
        "tooltip": "",
        "place": "Select option",
        "group": "4fba22e4d226f107",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "Library",
                "type": "str"
            },
            {
                "label": "",
                "value": "Cafe",
                "type": "str"
            },
            {
                "label": "",
                "value": "Admin Office",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "3a1ad7cd811466b6"
            ]
        ]
    },
    {
        "id": "21fedc99397e4099",
        "type": "function",
        "z": "3bb1fc53f5e74346",
        "name": "Filter Room",
        "func": "// 1. Get the selection (Default to \"Library\" now, not CR-24)\nlet selected = flow.get('selectedRoom') || \"Library\";\n\n// --- SAFETY CHECK ---\nif (typeof msg.payload !== 'object' || msg.payload === null || !msg.payload.room) {\n    return null; // Ignore invalid messages\n}\n\n// 2. Debugging (Uncomment the line below if things aren't working)\n// node.warn(\"Filter Checking: Selected [\" + selected + \"] vs Incoming [\" + msg.payload.room + \"]\");\n\n// 3. The Gatekeeper Logic\n// Only let the message pass if it matches the selected room\nif (msg.payload.room === selected) {\n    return msg;\n}\n\n// Block everything else\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 500,
        "wires": [
            [
                "26b7e70b991c905c",
                "bcf2c15e8014173f",
                "f4385ced41a0f988",
                "24ba22f04a5d73bb"
            ]
        ]
    },
    {
        "id": "3a1ad7cd811466b6",
        "type": "change",
        "z": "3bb1fc53f5e74346",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selectedRoom",
                "pt": "flow",
                "to": "msg.payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "bcf2c15e8014173f",
        "type": "function",
        "z": "3bb1fc53f5e74346",
        "name": "Humidity Extract",
        "func": "var val = msg.payload.humidity;\nvar current_room = msg.payload.room;\nvar last_room = context.get(\"last_room\");\nvar current_time = new Date().getTime();\n\n// If room changed, send CLEAR command first\nif (last_room && last_room !== current_room) {\n    context.set(\"last_room\", current_room);\n    \n    var clear_msg = { payload: [], topic: \"Humidity\" };\n    \n    var new_data_msg = { \n        payload: val, \n        topic: \"Humidity\",\n        timestamp: current_time\n    };\n    \n    return [[clear_msg, new_data_msg]];\n}\n\n// Normal operation\ncontext.set(\"last_room\", current_room);\nmsg.payload = val;\nmsg.timestamp = current_time;\nmsg.topic = \"Humidity\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 540,
        "wires": [
            [
                "850b7f0e52d2b9fd"
            ]
        ]
    },
    {
        "id": "850b7f0e52d2b9fd",
        "type": "ui_chart",
        "z": "3bb1fc53f5e74346",
        "name": "",
        "group": "9067b8ee8e786248",
        "order": 4,
        "width": "12",
        "height": "8",
        "label": "Humidity Trend",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "40",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#604def",
            "#2a1c97",
            "#095086",
            "#486993",
            "#283d58",
            "#261d67",
            "#5a88c4"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1820,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "f4385ced41a0f988",
        "type": "function",
        "z": "3bb1fc53f5e74346",
        "name": "Occupancy Extract",
        "func": "// 1. GET DATA\nvar val = msg.payload.occupancy;\nvar current_room = msg.payload.room;\n\n// 2. CHECK FOR ROOM CHANGE\nvar last_room = context.get(\"last_room\");\n\nif (last_room !== current_room) {\n    context.set(\"last_room\", current_room);\n    \n    // Wipe Chart, then Send Data (with CURRENT Time)\n    var clear_msg = { payload: [], topic: \"Occupancy\" };\n    var new_data_msg = { \n        payload: val, \n        topic: \"Occupancy\",\n        timestamp: new Date().getTime() // <--- Current time\n    };\n    return [[clear_msg, new_data_msg]];\n}\n\n// 3. IF SAME ROOM\nmsg.payload = val;\nmsg.timestamp = new Date().getTime(); // <--- Current time\nmsg.topic = \"Occupancy\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 600,
        "wires": [
            [
                "4ff683c69a27d8b0"
            ]
        ]
    },
    {
        "id": "4ff683c69a27d8b0",
        "type": "ui_chart",
        "z": "3bb1fc53f5e74346",
        "name": "",
        "group": "4fba22e4d226f107",
        "order": 6,
        "width": "0",
        "height": "0",
        "label": "Room Usage (People)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#22c55e",
            "#10b981",
            "#84cc16",
            "#2ca02c",
            "#98df8a",
            "#0c7954",
            "#496222",
            "#2a7446",
            "#407236"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1820,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "93dfe5bcc9230d74",
        "type": "ui_template",
        "z": "3bb1fc53f5e74346",
        "group": "4fba22e4d226f107",
        "name": "Sub header",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    background: linear-gradient(90deg, rgba(6, 182, 212, 0.15), transparent); /* Cyan Fade */\n    border-left: 4px solid #06b6d4; /* Solid Cyan Bar */\n    padding: 12px 16px;\n    margin-top: 30px;\n    margin-bottom: 10px;\n    border-radius: 0 8px 8px 0;\n\">\n    <h3 style=\"\n        margin: 0;\n        color: #ffffff; /* Bright White */\n        font-size: 18px; /* Bigger Size */\n        font-weight: 700;\n        letter-spacing: 1.5px;\n        text-transform: uppercase;\n        text-shadow: 0 0 12px rgba(6, 182, 212, 0.6); /* Cyan Glow */\n        display: flex;\n        align-items: center;\n    \">\n        <i class=\"fas fa-history\" style=\"margin-right: 12px; color: #22d3ee;\"></i>\n        Usage History\n    </h3>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 610,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "9b62bcc0868185af",
        "type": "ui_template",
        "z": "3bb1fc53f5e74346",
        "group": "4fba22e4d226f107",
        "name": "Header (Activity)",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    background: linear-gradient(90deg, rgba(6, 182, 212, 0.15), transparent); /* Cyan Fade */\n    border-left: 4px solid #06b6d4; /* Solid Cyan Bar */\n    padding: 12px 16px;\n    margin-top: 30px;\n    margin-bottom: 10px;\n    border-radius: 0 8px 8px 0;\n\">\n    <h3 style=\"\n        margin: 0;\n        color: #ffffff; /* Bright White */\n        font-size: 18px; /* Much Bigger */\n        font-weight: 700;\n        letter-spacing: 1.5px;\n        text-transform: uppercase;\n        text-shadow: 0 0 12px rgba(6, 182, 212, 0.6); /* Glowing Text */\n        display: flex;\n        align-items: center;\n    \">\n        <i class=\"fas fa-users\" style=\"margin-right: 12px; color: #22d3ee;\"></i>\n        Zone Activity\n    </h3>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 620,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "2858e0e38ad7cd9f",
        "type": "ui_template",
        "z": "3bb1fc53f5e74346",
        "group": "9067b8ee8e786248",
        "name": "Header (Trends)",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    background: linear-gradient(90deg, rgba(249, 115, 22, 0.15), transparent); /* Orange Fade */\n    border-left: 4px solid #f97316; /* Solid Orange Bar */\n    padding: 12px 16px;\n    margin-top: 30px; /* Extra space to separate from the graphs above */\n    margin-bottom: 10px;\n    border-radius: 0 8px 8px 0;\n\">\n    <h3 style=\"\n        margin: 0;\n        color: #ffffff; /* Bright White */\n        font-size: 18px; /* Much Bigger */\n        font-weight: 700;\n        letter-spacing: 1.5px;\n        text-transform: uppercase;\n        text-shadow: 0 0 12px rgba(249, 115, 22, 0.6); /* Glowing Text */\n        display: flex;\n        align-items: center;\n    \">\n        <i class=\"fas fa-chart-line\" style=\"margin-right: 12px; color: #fb923c;\"></i>\n        Environmental Trends\n    </h3>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 820,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "0d2b15840726fa01",
        "type": "ui_template",
        "z": "3bb1fc53f5e74346",
        "group": "9067b8ee8e786248",
        "name": "Header (table)",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    background: linear-gradient(90deg, rgba(249, 115, 22, 0.15), transparent); /* Orange Fade */\n    border-left: 4px solid #f97316; /* Solid Orange Bar */\n    padding: 12px 16px;\n    margin-top: 30px; /* Extra space to separate from the graphs above */\n    margin-bottom: 10px;\n    border-radius: 0 8px 8px 0;\n\">\n    <h3 style=\"\n        margin: 0;\n        color: #ffffff;\n        font-size: 18px;\n        font-weight: 700;\n        letter-spacing: 1.5px;\n        text-transform: uppercase;\n        text-shadow: 0 0 12px rgba(249, 115, 22, 0.6);\n        display: flex;\n        align-items: center;\n    \">\n        <i class=\"fas fa-list-ul\" style=\"margin-right: 12px; color: #fb923c;\"></i>\n        Sensor Data Logs\n    </h3>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 800,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ee723911549d29b6",
        "type": "ui_template",
        "z": "3bb1fc53f5e74346",
        "group": "4fba22e4d226f107",
        "name": "Dropdown",
        "order": 7,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function() {\n        var css = `\n            /* --- 1. THE LABEL (Always Glowing) --- */\n            md-input-container label {\n                color: #22d3ee !important;\n                font-family: 'Helvetica Neue', sans-serif !important;\n                text-transform: uppercase !important;\n                font-weight: 700 !important;\n                text-shadow: 0 0 10px rgba(34, 211, 238, 0.8) !important;\n            }\n\n            /* The \"Floated\" State (When selected) */\n            md-input-container.md-input-has-value label,\n            md-input-container.md-input-focused label {\n                color: #22d3ee !important; \n                text-shadow: 0 0 12px rgba(34, 211, 238, 1) !important;\n                opacity: 1 !important;\n                transform: translate3d(0, 6px, 0) scale(0.9) !important;\n            }\n\n            /* --- 2. THE SELECTED TEXT --- */\n            md-select .md-select-value span:first-child {\n                color: #ffffff !important;\n                font-size: 18px !important;\n                font-weight: 700 !important;\n                text-shadow: 0 0 12px rgba(34, 211, 238, 0.9) !important;\n                margin-top: 4px;\n            }\n\n            /* --- 3. THE UNDERLINE --- */\n            md-select .md-select-value {\n                border-bottom: 2px solid #22d3ee !important;\n                box-shadow: 0 4px 10px -2px rgba(34, 211, 238, 0.5);\n            }\n\n            /* --- 4. THE PLACEHOLDER --- */\n            md-select .md-select-value .md-select-placeholder {\n                color: #22d3ee !important;\n                opacity: 0.8 !important;\n            }\n            \n            /* --- 5. THE ARROW --- */\n            md-select .md-select-icon {\n                color: #22d3ee !important;\n            }\n            \n            /* --- 6. DROPDOWN MENU ITEMS (When you click it) --- */\n            .md-select-menu-container md-content md-option {\n                color: #cccccc !important;\n                height: 48px !important;\n            }\n            .md-select-menu-container md-content md-option[selected] {\n                color: #22d3ee !important;\n                font-weight: bold !important;\n                background: rgba(34, 211, 238, 0.1) !important;\n            }\n        `;\n\n        var style = document.createElement('style');\n        style.type = 'text/css';\n        if (style.styleSheet){\n            style.styleSheet.cssText = css;\n        } else {\n            style.appendChild(document.createTextNode(css));\n        }\n        document.getElementsByTagName('head')[0].appendChild(style);\n    })();\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 630,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a5fe5d9ab27e2c7e",
        "type": "ui_template",
        "z": "3bb1fc53f5e74346",
        "group": "4fba22e4d226f107",
        "name": "top bar styler",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function() {\n        var css = `\n            /* 1. FORCE THE BAR HEIGHT (Tall & Dark) */\n            md-toolbar {\n                height: 100px !important;\n                min-height: 100px !important;\n                max-height: 100px !important;\n                background-color: rgb(15, 23, 42) !important;\n                border-bottom: 3px solid #06b6d4 !important; /* Cyan Laser */\n                z-index: 50 !important;\n            }\n\n            /* 2. FORCE THE TEXT TO CENTER */\n            md-toolbar h1 {\n                position: fixed !important;\n                top: 0 !important;\n                left: 0 !important;\n                width: 100% !important;\n                height: 100px !important;\n                line-height: 100px !important;\n                text-align: center !important;\n                margin: 0 !important;\n                pointer-events: none !important;\n                z-index: 60 !important;\n                \n                /* 3. NEON STYLE - SOFTER VERSION */\n                font-family: 'Helvetica Neue', sans-serif !important;\n                font-size: 36px !important;\n                font-weight: 900 !important;\n                text-transform: uppercase !important;\n                letter-spacing: 4px !important;\n                color: #ffffff !important;\n                \n                /* 4. TRIPLE GLOW LAYER - REDUCED INTENSITY */\n                text-shadow: \n                    0 0 5px rgba(255, 255, 255, 0.6),  /* Softer White Core */\n                    0 0 15px rgba(6, 182, 212, 0.5),   /* Softer Cyan Inner */\n                    0 0 30px rgba(6, 182, 212, 0.3) !important; /* Subtle Outer Halo */\n            }\n\n            /* 5. FIX THE MENU BUTTON */\n            .md-toolbar-tools > button {\n                z-index: 70 !important;\n                margin-top: 20px !important;\n                color: #06b6d4 !important;\n            }\n            \n            .md-toolbar-tools {\n                display: block !important;\n            }\n        `;\n\n        var style = document.createElement('style');\n        style.type = 'text/css';\n        if (style.styleSheet){\n            style.styleSheet.cssText = css;\n        } else {\n            style.appendChild(document.createTextNode(css));\n        }\n        document.getElementsByTagName('head')[0].appendChild(style);\n    })();\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "32571270377274eb",
        "type": "function",
        "z": "3bb1fc53f5e74346",
        "name": "History Manager",
        "func": "// 1. Get the history list from memory\nvar history = context.get('history') || [];\n\n// 2. Clear Button Logic (If you have it wired)\nif (Array.isArray(msg.payload) && msg.payload.length === 0) {\n    context.set('history', []);\n    return { payload: [] };\n}\n\n// 3. ADD NEW ROW\nif (msg.payload.room) {\n    var newRow = {\n        // --- THIS IS THE FIX ---\n        // Old Code was probably: msg.payload.timestamp (which is 2015)\n        // New Code uses YOUR computer's current time:\n        timestamp: new Date().toLocaleTimeString(), \n        \n        room: msg.payload.room,\n        occupancy: msg.payload.occupancy,\n        temp: msg.payload.temp,\n        humidity: msg.payload.humidity,\n        light: msg.payload.light,\n        co2: msg.payload.co2,\n        status: msg.payload.status\n    };\n\n    // Add to top of list\n    history.unshift(newRow);\n    \n    // Limit to 10 rows\n    if (history.length > 10) {\n        history.pop();\n    }\n    \n    context.set('history', history);\n}\n\n// 4. Send to Table\nmsg.payload = history;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 420,
        "wires": [
            [
                "876e35b76c4da714"
            ]
        ]
    },
    {
        "id": "24ba22f04a5d73bb",
        "type": "function",
        "z": "3bb1fc53f5e74346",
        "name": "calculate status",
        "func": "\n// Function: Calculate Status based on Occupancy\n// NOTE: msg.payload already contains all sensor data (room, temp, humidity, etc.)\nvar occupancy = msg.payload.occupancy;\n// 1. Set a default status (safe fallback)\n\nmsg.payload.status = \"Idle\";\n\n\n\n// 2. Check if the room is active (occupancy > 0)\n\nif (occupancy && occupancy > 0) {\n\n    msg.payload.status = \"Active\";\n\n}\n\n\n\n// 3. Ensure the timestamp is fresh for the card display\n\nmsg.payload.timestamp = new Date().toLocaleTimeString('en-US');\n\n\n\n// Return the FULL msg object, preserving ALL original data fields\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 660,
        "wires": [
            [
                "6914c38163c80bf0"
            ]
        ]
    },
    {
        "id": "1fc157f36e229ff4",
        "type": "inject",
        "z": "3bb1fc53f5e74346",
        "name": "Start playback",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 400,
        "wires": [
            [
                "49fc0b6b8163b55d"
            ]
        ]
    },
    {
        "id": "668bf825a871c0f5",
        "type": "csv",
        "z": "3bb1fc53f5e74346",
        "name": "Parse csv",
        "sep": ",",
        "hdrin": false,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "id,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy",
        "skip": "1",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 440,
        "y": 400,
        "wires": [
            [
                "a7a48f5368d75dc3"
            ]
        ]
    },
    {
        "id": "49fc0b6b8163b55d",
        "type": "file in",
        "z": "3bb1fc53f5e74346",
        "name": "Load data",
        "filename": "./data/datatraining.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 280,
        "y": 400,
        "wires": [
            [
                "668bf825a871c0f5"
            ]
        ]
    },
    {
        "id": "a7a48f5368d75dc3",
        "type": "delay",
        "z": "3bb1fc53f5e74346",
        "name": "pacer library",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 610,
        "y": 400,
        "wires": [
            [
                "ecb95e44c9937648"
            ]
        ]
    },
    {
        "id": "ecb95e44c9937648",
        "type": "function",
        "z": "3bb1fc53f5e74346",
        "name": "map admin",
        "func": "let row = msg.payload;\nlet room_name = \"Admin Office\";\n// Office is Moderate (40-60 dB)\nlet noise_val = 40 + (Math.random() * 20);\n\nmsg.payload = {\n    room: room_name,\n    timestamp: row.date,\n    temp: parseFloat(row.Temperature).toFixed(1),\n    humidity: parseFloat(row.Humidity).toFixed(1),\n    light: parseFloat(row.Light).toFixed(1),\n    co2: parseFloat(row.CO2).toFixed(0),\n    noise: noise_val.toFixed(1),\n    occupancy: parseInt(row.Occupancy),\n    status: (parseInt(row.Occupancy) === 1) ? \"Active\" : \"Idle\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 400,
        "wires": [
            [
                "03f139a462d0b236"
            ]
        ]
    },
    {
        "id": "97b8dcafa2c88ae5",
        "type": "inject",
        "z": "3bb1fc53f5e74346",
        "name": "Start library",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 70,
        "y": 480,
        "wires": [
            [
                "015bb8e562b4ce54"
            ]
        ]
    },
    {
        "id": "12a3af77c2ebcf4b",
        "type": "csv",
        "z": "3bb1fc53f5e74346",
        "name": "Parse csv",
        "sep": ",",
        "hdrin": false,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "id,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy",
        "skip": "1",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 400,
        "y": 480,
        "wires": [
            [
                "01936e2091672b88"
            ]
        ]
    },
    {
        "id": "015bb8e562b4ce54",
        "type": "file in",
        "z": "3bb1fc53f5e74346",
        "name": "Load data",
        "filename": "./data/datatest.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 240,
        "y": 480,
        "wires": [
            [
                "12a3af77c2ebcf4b"
            ]
        ]
    },
    {
        "id": "01936e2091672b88",
        "type": "delay",
        "z": "3bb1fc53f5e74346",
        "name": "Pacer",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 480,
        "wires": [
            [
                "95ef6c1ecc55ae8e"
            ]
        ]
    },
    {
        "id": "95ef6c1ecc55ae8e",
        "type": "function",
        "z": "3bb1fc53f5e74346",
        "name": "map library",
        "func": "let row = msg.payload;\nlet room_name = \"Library\";\n// Library is quiet (30-45 dB)\nlet noise_val = 30 + (Math.random() * 15);\n\nmsg.payload = {\n    room: room_name,\n    timestamp: row.date,\n    temp: parseFloat(row.Temperature).toFixed(1),\n    humidity: parseFloat(row.Humidity).toFixed(1),\n    light: parseFloat(row.Light).toFixed(1),\n    co2: parseFloat(row.CO2).toFixed(0),\n    noise: noise_val.toFixed(1),\n    occupancy: parseInt(row.Occupancy),\n    status: (parseInt(row.Occupancy) === 1) ? \"Active\" : \"Idle\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 460,
        "wires": [
            [
                "03f139a462d0b236"
            ]
        ]
    },
    {
        "id": "5722034f620d9880",
        "type": "inject",
        "z": "3bb1fc53f5e74346",
        "name": "Start cafe",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 60,
        "y": 620,
        "wires": [
            [
                "c168690a5b4cc827"
            ]
        ]
    },
    {
        "id": "d5f42a135df9740e",
        "type": "csv",
        "z": "3bb1fc53f5e74346",
        "name": "Parse csv",
        "sep": ",",
        "hdrin": false,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "id,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy",
        "skip": "1",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 400,
        "y": 620,
        "wires": [
            [
                "51ce7352d671ca2d"
            ]
        ]
    },
    {
        "id": "c168690a5b4cc827",
        "type": "file in",
        "z": "3bb1fc53f5e74346",
        "name": "read test cafe",
        "filename": "./data/datatest2.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 220,
        "y": 620,
        "wires": [
            [
                "d5f42a135df9740e"
            ]
        ]
    },
    {
        "id": "51ce7352d671ca2d",
        "type": "delay",
        "z": "3bb1fc53f5e74346",
        "name": "pacer cafe",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 570,
        "y": 620,
        "wires": [
            [
                "596afccb2fc6a071"
            ]
        ]
    },
    {
        "id": "596afccb2fc6a071",
        "type": "function",
        "z": "3bb1fc53f5e74346",
        "name": "map cafe",
        "func": "let row = msg.payload;\nlet room_name = \"Cafe\";\n// Cafe is Loud (60-85 dB)\nlet noise_val = 60 + (Math.random() * 25);\n\nmsg.payload = {\n    room: room_name,\n    timestamp: row.date,\n    temp: parseFloat(row.Temperature).toFixed(1),\n    humidity: parseFloat(row.Humidity).toFixed(1),\n    light: parseFloat(row.Light).toFixed(1),\n    co2: parseFloat(row.CO2).toFixed(0),\n    noise: noise_val.toFixed(1),\n    occupancy: parseInt(row.Occupancy),\n    status: (parseInt(row.Occupancy) === 1) ? \"Active\" : \"Idle\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 620,
        "wires": [
            [
                "03f139a462d0b236"
            ]
        ]
    },
    {
        "id": "876e35b76c4da714",
        "type": "ui_template",
        "z": "3bb1fc53f5e74346",
        "group": "9067b8ee8e786248",
        "name": "Custom Table",
        "order": 5,
        "width": "12",
        "height": "5",
        "format": "<style>\n    /* Pure CSS - No hacking required */\n    .cyber-table {\n        width: 100%;\n        border-collapse: collapse;\n        font-family: 'Helvetica Neue', Arial, sans-serif;\n    }\n\n    /* Header Style */\n    .cyber-table th {\n        color: #06b6d4;\n        /* Cyan */\n        font-weight: 700;\n        text-transform: uppercase;\n        font-size: 12px;\n        padding: 10px;\n        text-align: center;\n        border-bottom: 1px solid rgba(6, 182, 212, 0.4);\n        background-color: rgba(15, 23, 42, 0.8);\n    }\n\n    /* Row Styles */\n    .cyber-table td {\n        color: #cbd5e1;\n        /* Grey-Blue */\n        padding: 8px;\n        text-align: center;\n        font-size: 13px;\n        border-top: 1px solid rgba(255, 255, 255, 0.05);\n    }\n\n    /* Alternating Colors */\n    .cyber-table tr:nth-child(even) {\n        background-color: rgba(255, 255, 255, 0.03);\n    }\n\n    .cyber-table tr:hover {\n        background-color: rgba(6, 182, 212, 0.1);\n    }\n\n    /* Container Scrollbar */\n    .table-container {\n        height: 100%;\n        overflow-y: auto;\n    }\n</style>\n\n<div class=\"table-container\">\n    <table class=\"cyber-table\">\n        <thead>\n            <tr>\n                <th>TIME</th>\n                <th>ROOM</th>\n                <th>TEMPERATURE</th>\n                <th>HUMIDITY</th>\n                <th>PEOPLE</th>\n                <th>NOISE</th>\n                <th>LIGHT</th>\n                <th>CO2</th>\n            </tr>\n        </thead>\n        <tbody>\n            <tr ng-repeat=\"row in msg.payload\">\n                <td>{{row.timestamp}}</td>\n                <td style=\"color: #fff; font-weight: bold;\">{{row.room}}</td>\n                <td>{{row.temp}}°C</td>\n                <td>{{row.humidity}}%</td>\n                <td>{{row.occupancy}}</td>\n                <td>{{row.noise || '-'}}</td>\n                <td>{{row.light || '-'}}</td>\n                <td>{{row.co2 || '-'}}</td>\n            </tr>\n        </tbody>\n    </table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1360,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "d3054efa550757b4",
        "type": "inject",
        "z": "3bb1fc53f5e74346",
        "name": "Clear Charts",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 1530,
        "y": 280,
        "wires": [
            [
                "da75828996f98e22",
                "850b7f0e52d2b9fd",
                "4ff683c69a27d8b0",
                "6914c38163c80bf0",
                "32571270377274eb"
            ]
        ]
    },
    {
        "id": "03f139a462d0b236",
        "type": "function",
        "z": "3bb1fc53f5e74346",
        "name": "Normalize Data",
        "func": "// Get the current room name and the \"Active/Idle\" signal\nvar room = msg.payload.room;\nvar raw_signal = msg.payload.occupancy; // This comes from the CSV (1 or 0)\n\nvar min = 0;\nvar max = 0;\n\n// Set limits based on which room sent the message\nif (room === \"Admin Office\") {\n    min = 2;\n    max = 5;\n}\nelse if (room === \"Cafe\") {\n    min = 20;\n    max = 60;\n}\nelse if (room === \"Library\") {\n    min = 40;\n    max = 120;\n}\n\n// Apply Logic: \n// If CSV says \"1\" (Active), generate a random number within range.\n// If CSV says \"0\" (Idle), force it to 0.\nif (raw_signal >= 1) {\n    // Generate random integer between min and max\n    msg.payload.occupancy = Math.floor(Math.random() * (max - min + 1) + min);\n} else {\n    msg.payload.occupancy = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 540,
        "wires": [
            [
                "32571270377274eb",
                "21fedc99397e4099"
            ]
        ]
    },
    {
        "id": "9067b8ee8e786248",
        "type": "ui_group",
        "name": "Trends",
        "tab": "tab1",
        "order": 5,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4fba22e4d226f107",
        "type": "ui_group",
        "name": "Activity",
        "tab": "tab1",
        "order": 3,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "tab1",
        "type": "ui_tab",
        "name": "IoT Dashboard",
        "icon": "dashboard"
    }
]
